{% extends "main/base.html" %}

{% block title %}
Update task
{% endblock %}

{% block content %}
<h1>Update task</h1>
<form method="post">
    {% csrf_token %}
    {{ form.title }}<br>
    {{ form.task }}<br>
    <button type="submit" class="btn btn-success">Add</button>
    <a href="{% url 'tasks-detail' task.id %}" class="btn btn-info">Cansel</a>
    <input type="checkbox" name="is_solved" {% if task.is_solved %} checked {% endif %}>
    <label for="is_solved">Mark as solved</label>
    <span>{{ error }}</span>
</form>
{% endblock %}